/*  your css code here. If applicable */
.testimonial{
	background-color : #f5f5f5;
	padding: 20px;
	
}
.quotes{
	background-color: white;
	border: 1px solid gray;
	margin-bottom: 15px;
}
.author{
	font-style: italic;
	text-align: right;
}
.quote{
	padding-top: 10px;
	padding-left: 10px;
}
.author{
	padding-right: 10px;
}